<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Search GitHub Profile</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor02">
    <ul class="navbar-nav mr-auto">

    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input  (keyup)='searchUser($event)' #keyword class="form-control mr-sm-2" type="text" placeholder="Search">
    </form>
  </div>
</nav>
<div>

<div class="row">
  <div class="col-md-5">
      <div class="card mb-3">
        <h3 class="card-header">User Avatar</h3>
        <div class="card-body"></div>
        <img src="{{githubservice.user.image}}" alt="user image">
        <div class="card-body">
            <p class="card-text"></p>
        </div>
        <button class="btn btn-primary">{{githubservice.user.followers}} followers</button>
        <button class="btn btn-success">{{githubservice.user.following}} following</button>
        <button class="btn btn-danger">{{githubservice.user.repos}} repos</button>
      </div>
  </div>
  <div class="col-md-4">
    <div class="card border-success mb-3" style="max-width: 20rem;">
      <div class="card-header">username: {{githubservice.user.userName}}</div>
      <div class="card-header">location: {{githubservice.user.location}}</div>
      <div class="card-header">email: {{githubservice.user.email}}</div>
      <div class="card-header">Member Since: {{githubservice.user.memberSinceDate|date}}</div>
      <div class="card-header">Joined {{githubservice.user.memberSinceDate|date|dayCount}} days ago</div>
    </div>
  </div>
</div>

<div  class="col-md-8">
          <a href="#" class="list-group-item list-group-item-active">
              {{githubservice.username.name}} Repos
            </a>
          <ul style='list-style: none' *ngFor='let repo of githubservice.repos$ ; let i = index' class="list-group">
              <li>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center">
                <a target="_blank" href="{{githubservice.repos$[i].html_url}}">
                    {{i+1}} . {{githubservice.repos$[i].name}}
                </a>
                <button class="btn btn-primary">{{githubservice.repos$[i].watchers}} watchers</button>
                <button class="btn btn-success">{{githubservice.repos$[i].forks}} forks</button>
              </li>
            </ul>
      </div>

  </div>
