<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Search GitHub Profile</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor02">
    <ul class="navbar-nav mr-auto">

    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input  (keyup)='searchUser($event)' #keyword class="form-control mr-sm-2" type="text" placeholder="Search">
      <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
    </form>

    <li class="nav-item">
      <a class="nav-link" href="#">Github</a>
    </li>
  </div>
</nav>
<div>

<div class="row">
  <div class="col-md-5">
      <div class="card mb-3">
          <h3 class="card-header">Image</h3>
          <div class="card-body">
          </div>
          <img src="" alt="Card image">
          <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">View Profile</li>

          </ul>
        </div>
  </div>
  <div class="col-md-4">
    <div class="card border-success mb-3" style="max-width: 20rem;">
      <div class="card-header">username: {{githubservice.user.username}}</div>
      <div class="card-header">location: {{githubservice.user.location}}</div>
      <div class="card-header">email: {{githubservice.user.email}}</div>
      <div class="card-header">Member Since: {{githubservice.user.memberSinceDate|date}}</div>
      <div class="card-header">following: {{githubservice.user.following}}</div>
    </div>
  </div>
  <div class="col-md-7">

  </div>
</div>

